.Line {
  position: relative;
  top: 10%;
  right: 52px;
  width: 454px;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), inset 0px -2px 4px #ae7be3,
    inset 0px 4px 3px #fbf8ff;
}
.Circle {
  position: absolute;
  bottom: -600%;
  right: 35%;
  border-radius: 50%;
  position: absolute;
  width: 92px;
  height: 92px;
  border: 8px solid #ebd8ff;
}
